<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Event</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/jqvmap/jqvmap.min.css">
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="/plugins/Create_event.css">
</head>
<body class="hold-transition sidebar-mini">



    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/admin" class="nav-link">Home</a>
                </li>
            </ul>

        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <%- include('include/side_bar.ejs') %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content ">
                <div class="container-fluid ">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="card ">
                                <div class="card-header ">
                                    <h3 class="card-title">recent events</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th style="text-align: center;width: 20%">admin email</th>
                                            <th style="text-align: center;width: 20%">admin name</th>
                                            <th style="text-align: center;width: 30%">admin id</th>
                                            <th style="text-align: center;width: 30%">R  D</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% for (var i = data.length-1; i >= 0; i--){ %>
                                        <tr>
                                            <td style="text-align: center;overflow: hidden"><h1 style="font-size: 20px" class="text-danger"><%=data[i].admin_email%></h1></td>
                                            <td style="text-align: center;overflow: hidden;"><h1 style="font-size: 20px"><%=data[i].admin_name%></h1></td>
                                            <td style="text-align: center;overflow: hidden;"><h2 style="font-size: 20px"><%=data[i]._id%></h2></td>
                                            <td style="text-align: center;overflow: hidden;"><a href="/admin/show/<%=data[i]._id%>">
                                                    <button class="btn btn-outline-primary">detail</button></a><a href="/admin/delete_event/<%=data[i]._id%>" onclick="return confirm('bạn có chắc muốn xóa người dùng này không?')">
                                                    <button class=" btn btn-outline-danger">delete</button></a></td></td>
                                        </tr>
                                        <% } %>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.1.0-rc
            </div>
            <strong>Copyright &copy; 2014-2020 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>



<!-- ./wrapper -->



<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src=/plugins/datatables/jquery.dataTables.min.js"></script>
<script src=/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src=/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src=/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src=/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src=/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src=/plugins/jszip/jszip.min.js"></script>
<script src=/plugins/pdfmake/pdfmake.min.js"></script>
<script src=/plugins/pdfmake/vfs_fonts.js"></script>
<script src=/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src=/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src=/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
</body>
</html>