<!doctype html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="https://cdn2.vectorstock.com/i/1000x1000/65/76/kids-zone-colorful-banner-cartoon-letters-and-vector-18026576.jpg"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basic Letter Page | Kisds zone</title>
    <link rel="stylesheet" href="../Style/read-abc.css">
    <link rel="stylesheet" href="../Style/index.css">
    <link rel="stylesheet" href="../Style/slide_abc.css">
</head>
<body>
<div class="header col-12 row">
    <a href="/">
        <div class="logo col-6 col-s-6">
            <h1 class="row"><span class="text_color_red">K</span><span class="text_color_green">I</span><span
                        class="text_color_blue">D</span><span class="text_color_orange">S</span><label>- zone</label>
            </h1>
            <i class="fa fa-bars navbar-icon" aria-hidden="true"></i>
        </div>
    </a>
    <!--    menutop    -->
    <%- include('include/menu.ejs') %>
</div>
<hr class="bam">
<div class="banner">
    <i class="fa fa-music play-music" aria-hidden="true" title="click play music/dbl click pause music"></i>
    <img src="../Img/banner-abc.png">
</div>
<div class="media">
</div>


<div class="col-s-12 col-12 selector_abc_container_master ">



    <div class="col-6 col-s-6 selector_abc_container" style="border-right: #f67a7a 2px solid">
        <div class="col-12 col-s-12 imgcontainer">
            <div class="div_img">
                <img src="<%=course[4].thumbnail%>">
            </div>
        </div>
        <div class="content_course_container">
            <div class="col-s-12 col-8 content_course">
                <h1><%=course[4].Title%></h1>
                <br>
                <h2><%=course[4].ages%></h2>
                <br>
                <%-course[4].description%>
            </div>
        </div>
        <div class="col-s-12 col-12 btn_course">
            <button class="start_abc">start</button>
            <button><a href="/parents" style="color: white;width: 100%;height: 100%">tutorial</a></button>
        </div>
    </div>





    <div class="col-6 col-s-6 selector_abc_container">
        <div class="col-12 col-s-12 imgcontainer">
            <div class="div_img">
                <img src="<%=course[5].thumbnail%>">
            </div>
        </div>
        <div class="content_course_container">
            <div class="col-s-12 col-8 content_course">
                <h1><%=course[5].Title%></h1>
                <br>
                <h2><%=course[5].ages%></h2>
                <br>
                <%-course[5].description%>
            </div>
        </div>
        <div class="col-s-12 col-12 btn_course">
            <button class="start_vocabulary">start</button>
            <button><a href="/parents" style="color: white;width: 100%;height: 100%">tutorial</a></button>
        </div>
    </div>
</div>












<div class="content123">
    <div class=" non_show pt-wrap-container slide_abc hiden">
        <div class="pt-ctn-slide">
            <div class="pt-slideshow-container">
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/a.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/b.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/c.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/d.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/e.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/f.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/g.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/h.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/i.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/j.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/k.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/l.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/m.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/n.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/o.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/p.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/q.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/r.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/s.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/t.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/u.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/v.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/w.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/x.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/y.jpg" style="width:100%">
                </div>
                <div class="pt-mySlides pt-fade">
                    <img class="pt-img-slide" src="../img_abc/z.jpg" style="width:100%">
                </div>
                <a class="pt-prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="pt-next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </div>
    </div>


    <div class="pt-container pt-content_abc read_abc col-s-12 col-12 hiden">
        <div class="pt-ladi-container">

            <% for (var i = 0 ; i < data.length;i++) { %>
                <% if(data[i].letters_range==='alphabet') {%>
                <div class="pt-colum pt-mg-img">
                    <div class="pt-border-dashed">
                        <img class="pt-img-abc " id="<%= data[i].audio_letter%>" src="<%=data[i].photo_letter%>">
                    </div>
                </div>
                <% } %>
            <% } %>
        </div>
    </div>
</div>


<div class="col-s-12 col-12 vocabulary hiden" style="margin-top: 20px">
    <% for (var i = 0 ; i < data.length ; i++){ %>
        <% if(data[i].letters_range==='vocabulary') {%>
            <div class="col-4 col-s-4 audio_vocabulary" id="<%=data[i].audio_letter%>" style="min-height: 300px">
                <div class="col-12 col-s-12"
                     style="display: flex;justify-content: center;align-items: center;margin: 10px 0">
                    <p style="color: #56aafd;font-size: 18px">vocabulary</p>
                </div>
                <div class="col-6 col-s-12"
                     style="overflow: hidden;display: flex;justify-content: center;align-items: center">
                    <div style="width: 200px; height: 200px;overflow: hidden;display: flex;justify-content: center;align-items: center;border-radius: 15px">
                        <img src="<%=data[i].photo_letter%>" height="200px"
                             style="border-radius: 8px">
                    </div>
                </div>
                <div class="col-6 col-s-12">
                    <div class="col-s-12 col-12"
                         style="display: flex;justify-content: center;align-items: center;height: 100px">
                        <% var c = Math.floor(Math.random() * 999999) + 1000; %>
                        <h1 style="color:#<%= c %>"><%=data[i].text_letters%></h1>
                    </div>
                    <div class="col-s-12 col-12"
                         style="display: flex;justify-content: center;align-items: center;height: 150px">
                        <i style="font-size: 100px;color:#<%= c %>;cursor: pointer" class="fa fa-volume-up"
                           aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <% } %>
    <% } %>
</div>



<div class="col-s-12 col-12 hiden btn_back_container">
    <button class="btn_back">back</button>
</div>



<a href="/" class="back-to-home"><i class="fa fa-home" aria-hidden="true" style="z-index: 1000"></i></a>
<div class="footer col-s-12 col-12">
    <div>
        <p>&copy;Copyright belongs to aptech 17-01-2021</p>
    </div>
    <img src="../Img/img-footer.png" alt="">
</div>
<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("pt-mySlides");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex - 1].style.display = "block";
    }
</script>
<script src="../Script/index.js"></script>
<script src="../Script/read-abc.js"></script>
</body>
</html>